# IntelliJ IDEA files
.idea/

# Compiled output
out/

# Gradle specific
.gradle/
build/

# Maven specific
target/

# Logs
*.log

# IntelliJ project files
*.iml
*.ipr
*.iws

# User-specific files
*.idea/workspace.xml
*.idea/tasks.xml
*.idea/dictionaries

# Avoid including your personal settings if you don't want to share them
.idea/*.xml



pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
